.container.p-0
  .row
    .col-12.col-md-6
      .card.card-wrapper
        .card-body.card-promotion
          .card-title เน็ตรายครั้ง
          //- .rov-logo
          //-   img.img-fluid(src="images/logo-rov.png", alt="")
        .card-body.card-benefit   
          .card-benefit__mbps
            .card-benefit__num 512
            .card-benefit__unit Kbps 
          .card-benefit__gb
            .card-benefit__num 500
            .card-benefit__unit MB
          .card-benefit__hrs
            .card-benefit__num 1 
            .card-benefit__unit วัน
          .card-benefit__bht
            .card-benefit__num 15 
            .card-benefit__unit บาท
        a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/128') ซื้อเลย
        .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
        img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail1" role="button" aria-expanded="false" aria-controls="collapseDetail1")
        .collapse#collapseDetail1
          //- .card.card-body.collapseBody
          //-   .details-wrap
          //-     .detail-title ความเร็วเน็ต :
          //-     .detail-value.red 10 Mbps
          //-   .details-wrap
          //-     .detail-title หน่วยความจุ :
          //-     .detail-value.red 5 GB
          //-   .details-wrap
          //-     .detail-title อายุการใช้งาน :
          //-     .detail-value 24 ชั่วโมง
          //-   .details-wrap
          //-     .detail-title ค่าบริการ :
          //-     .detail-value 34 บาท
          //-   .details-wrap
          //-     .detail-title รูปแบบการคิดเงิน :
          //-     .detail-value รายครั้ง
          p.ml-4.detail-notice หมายเหตุ <br/>- ราคาพิเศษสำหรับซื้อด้วยทรูมันนี้วอลเล็ทเท่านั้น<br/> - ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติหลัง 24 ชั่วโมง นับจากเวลาที่สมัคร
    //- Pack2
    .col-12.col-md-6
      .card.card-wrapper
        .card-body.card-promotion
          .card-title เน็ตต่อเนื่อง + Wifi (ต่ออายุอัตโนมัติ)
          //- .rov-logo
          //-   img.img-fluid(src="images/logo-rov.png", alt="")
        .card-body.card-benefit   
          .card-benefit__mbps
            .card-benefit__num(style='font-size:1.8rem') เต็มสปีด
            //- .card-benefit__unit Kbps 
          .card-benefit__gb
            .card-benefit__num 500
            .card-benefit__unit MB
          .card-benefit__hrs
            .card-benefit__num 1 
            .card-benefit__unit วัน
          .card-benefit__bht
            .card-benefit__num 15 
            .card-benefit__unit บาท
        a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/62') ซื้อเลย
        .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
        img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail2" role="button" aria-expanded="false" aria-controls="collapseDetail2")
        .collapse#collapseDetail2
          //- .card.card-body.collapseBody
          //-   .details-wrap
          //-     .detail-title ความเร็วเน็ต :
          //-     .detail-value.red 10 Mbps
          //-   .details-wrap
          //-     .detail-title หน่วยความจุ :
          //-     .detail-value.red 5 GB
          //-   .details-wrap
          //-     .detail-title อายุการใช้งาน :
          //-     .detail-value 24 ชั่วโมง
          //-   .details-wrap
          //-     .detail-title ค่าบริการ :
          //-     .detail-value 34 บาท
          //-   .details-wrap
          //-     .detail-title รูปแบบการคิดเงิน :
          //-     .detail-value รายครั้ง
          p.ml-4.detail-notice หมายเหตุ <br/>- ราคาพิเศษสำหรับซื้อด้วยทรูมันนี้วอลเล็ทเท่านั้น<br/> - ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติหลัง 24 ชั่วโมง นับจากเวลาที่สมัคร
    //- Pack3
    .col-12.col-md-6
      .card.card-wrapper
        .card-body.card-promotion
          .card-title เน็ตรายครั้ง แถมไอเทมพิเศษ!
          .rov-logo
            img.img-fluid(src="images/logo-rov.png", alt="")
        .card-body.card-benefit   
          .card-benefit__mbps
            .card-benefit__num 1
            .card-benefit__unit Mbps 
          .card-benefit__gb
            .card-benefit__num(style='font-size:1.8rem') ไม่อั้น
            //- .card-benefit__unit GB
          .card-benefit__hrs
            .card-benefit__num 7 
            .card-benefit__unit วัน
          .card-benefit__bht
            .card-benefit__num 100 
            .card-benefit__unit บาท
        a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/62') ซื้อเลย
        .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
        img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail3" role="button" aria-expanded="false" aria-controls="collapseDetail3")
        .collapse#collapseDetail3
          //- .card.card-body.collapseBody
          //-   .details-wrap
          //-     .detail-title ความเร็วเน็ต :
          //-     .detail-value.red 10 Mbps
          //-   .details-wrap
          //-     .detail-title หน่วยความจุ :
          //-     .detail-value.red 5 GB
          //-   .details-wrap
          //-     .detail-title อายุการใช้งาน :
          //-     .detail-value 24 ชั่วโมง
          //-   .details-wrap
          //-     .detail-title ค่าบริการ :
          //-     .detail-value 34 บาท
          //-   .details-wrap
          //-     .detail-title รูปแบบการคิดเงิน :
          //-     .detail-value รายครั้ง
          p.ml-4.detail-notice หมายเหตุ <br/>- รับสิทธิใช้ 4G|3GlEDGElGPRS ความเร็วสูงสุด 1 Mbps<br/> - ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.
    //- Pack4
    .col-12.col-md-6
      .card.card-wrapper
        .card-body.card-promotion
          .card-title เน็ตรายครั้ง
          //- .rov-logo
          //-   img.img-fluid(src="images/logo-rov.png", alt="")
        .card-body.card-benefit   
          .card-benefit__mbps
            .card-benefit__num 512
            .card-benefit__unit Kbps 
          .card-benefit__gb
            .card-benefit__num(style='font-size:1.8rem') ไม่อั้น
            //- .card-benefit__unit GB
          .card-benefit__hrs
            .card-benefit__num 7 
            .card-benefit__unit วัน
          .card-benefit__bht
            .card-benefit__num 89 
            .card-benefit__unit บาท
        a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/113') ซื้อเลย
        .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
        img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail4" role="button" aria-expanded="false" aria-controls="collapseDetail4")
        .collapse#collapseDetail4
          //- .card.card-body.collapseBody
          //-   .details-wrap
          //-     .detail-title ความเร็วเน็ต :
          //-     .detail-value.red 10 Mbps
          //-   .details-wrap
          //-     .detail-title หน่วยความจุ :
          //-     .detail-value.red 5 GB
          //-   .details-wrap
          //-     .detail-title อายุการใช้งาน :
          //-     .detail-value 24 ชั่วโมง
          //-   .details-wrap
          //-     .detail-title ค่าบริการ :
          //-     .detail-value 34 บาท
          //-   .details-wrap
          //-     .detail-title รูปแบบการคิดเงิน :
          //-     .detail-value รายครั้ง
          p.ml-4.detail-notice หมายเหตุ <br/>- ตั้งแต่ 22 พ.ค. 61 แพ็กเกจนี้จะปรับเป็นราคาปกติ 95 บ. (รวมภาษี) บนช่องทางทรูมันนี่ - รับสิทธิใช้ 4G|3GlEDGElGPRS ความเร็วสูงสุด 512 กิโลบิตต่อวินาที (Kbps)<br/> - ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.
    //- Pack5
    .col-12.col-md-6
      .card.card-wrapper
        .card-body.card-promotion
          .card-title เน็ตต่อเนื่อง
          //- .rov-logo
          //-   img.img-fluid(src="images/logo-rov.png", alt="")
        .card-body.card-benefit   
          .card-benefit__mbps
            .card-benefit__num 4
            .card-benefit__unit Mbps 
          .card-benefit__gb
            .card-benefit__num(style='font-size:1.8rem') ไม่อั้น
            //- .card-benefit__unit MB
          .card-benefit__hrs
            .card-benefit__num 7 
            .card-benefit__unit วัน
          .card-benefit__bht
            .card-benefit__num 150 
            .card-benefit__unit บาท
        a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/58') ซื้อเลย
        .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
        img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail5" role="button" aria-expanded="false" aria-controls="collapseDetail5")
        .collapse#collapseDetail5
          //- .card.card-body.collapseBody
          //-   .details-wrap
          //-     .detail-title ความเร็วเน็ต :
          //-     .detail-value.red 10 Mbps
          //-   .details-wrap
          //-     .detail-title หน่วยความจุ :
          //-     .detail-value.red 5 GB
          //-   .details-wrap
          //-     .detail-title อายุการใช้งาน :
          //-     .detail-value 24 ชั่วโมง
          //-   .details-wrap
          //-     .detail-title ค่าบริการ :
          //-     .detail-value 34 บาท
          //-   .details-wrap
          //-     .detail-title รูปแบบการคิดเงิน :
          //-     .detail-value รายครั้ง    
          p.ml-4.detail-notice หมายเหตุ <br/>- รับสิทธิใช้ 4G|3GlEDGElGPRS ความเร็วสูงสุด 4 Mbps<br/> - ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.
    //- Pack6
    .col-12.col-md-6
      .card.card-wrapper
        .card-body.card-promotion
          .card-title เอนเตอร์เทนเมนท์ HD ดู 4 แอพไม่อั้น
          //- .rov-logo
          //-   img.img-fluid(src="images/logo-rov.png", alt="")
        .card-body.card-benefit   
          .card-benefit__mbps
            .card-benefit__num 6
            .card-benefit__unit Mbps 
          .card-benefit__gb
            .card-benefit__num(style='font-size:1.8rem') ไม่อั้น
            //- .card-benefit__unit GB
          .card-benefit__hrs
            .card-benefit__num 7 
            .card-benefit__unit วัน
          .card-benefit__bht
            .card-benefit__num 300 
            .card-benefit__unit บาท
        a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/136') ซื้อเลย
        .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
        img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail6" role="button" aria-expanded="false" aria-controls="collapseDetail6")
        .collapse#collapseDetail6
          //- .card.card-body.collapseBody
          //-   .details-wrap
          //-     .detail-title ความเร็วเน็ต :
          //-     .detail-value.red 10 Mbps
          //-   .details-wrap
          //-     .detail-title หน่วยความจุ :
          //-     .detail-value.red 5 GB
          //-   .details-wrap
          //-     .detail-title อายุการใช้งาน :
          //-     .detail-value 24 ชั่วโมง
          //-   .details-wrap
          //-     .detail-title ค่าบริการ :
          //-     .detail-value 34 บาท
          //-   .details-wrap
          //-     .detail-title รูปแบบการคิดเงิน :
          //-     .detail-value รายครั้ง
          p.ml-4.detail-notice หมายเหตุ <br/>- รับสิทธิใช้ 4G|3GlEDGElGPRS ความเร็วสูงสุด 6 Mbps<br/> - ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.
    //- Pack7
    .col-12.col-md-6
      .card.card-wrapper
        .card-body.card-promotion
          .card-title เน็ตรายครั้ง (6 โมงเช้า - 6 โมงเย็น)
          //- .rov-logo
          //-   img.img-fluid(src="images/logo-rov.png", alt="")
        .card-body.card-benefit   
          .card-benefit__mbps
            .card-benefit__num 512
            .card-benefit__unit Kbps 
          .card-benefit__gb
            .card-benefit__num(style='font-size:1.8rem') ไม่อั้น
            //- .card-benefit__unit GB
          .card-benefit__hrs
            .card-benefit__num 30 
            .card-benefit__unit วัน
          .card-benefit__bht
            .card-benefit__num 269 
            .card-benefit__unit บาท
        a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/65') ซื้อเลย
        .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
        img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail7" role="button" aria-expanded="false" aria-controls="collapseDetail7")
        .collapse#collapseDetail7
          //- .card.card-body.collapseBody
          //-   .details-wrap
          //-     .detail-title ความเร็วเน็ต :
          //-     .detail-value.red 10 Mbps
          //-   .details-wrap
          //-     .detail-title หน่วยความจุ :
          //-     .detail-value.red 5 GB
          //-   .details-wrap
          //-     .detail-title อายุการใช้งาน :
          //-     .detail-value 24 ชั่วโมง
          //-   .details-wrap
          //-     .detail-title ค่าบริการ :
          //-     .detail-value 34 บาท
          //-   .details-wrap
          //-     .detail-title รูปแบบการคิดเงิน :
          //-     .detail-value รายครั้ง
          p.ml-4.detail-fup * หลังจากใช้ 1.5 GB หมด จะใช้ต่อด้วยความเร็ว 128 Kbps     
          p.ml-4.detail-notice หมายเหตุ <br/>- รับสิทธิใช้ 4G|3GlEDGElGPRS ความเร็วสูงสุด 512 กิโลบิตต่อวินาที (Kbps)<br/> - ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.