.container.p-0
  .row
    .col-12.col-md-6
      .d-flex.justify-content-center.justify-content-md-end
        .card.card-wrapper
          .card-body.card-promotion
            .card-title เน็ตรายครั้ง
            //- .rov-logo
            //-   img.img-fluid(src="images/logo-rov.png", alt="")
          .card-body.card-benefit   
            .card-benefit__mbps
              .card-benefit__num เต็มสปีด
              //- .card-benefit__unit Kbps 
            .card-benefit__gb
              .card-benefit__num 400
              .card-benefit__unit MB
            .card-benefit__hrs
              .card-benefit__num 9 
              .card-benefit__unit วัน
            .card-benefit__bht
              .card-benefit__num 1 
              .card-benefit__unit บาท
          a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/155') ซื้อเลย
          .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
          img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail8" role="button" aria-expanded="false" aria-controls="collapseDetail8")
          .collapse#collapseDetail8
            //- .card.card-body.collapseBody
            //-   .details-wrap
            //-     .detail-title ความเร็วเน็ต :
            //-     .detail-value.red 10 Mbps
            //-   .details-wrap
            //-     .detail-title หน่วยความจุ :
            //-     .detail-value.red 5 GB
            //-   .details-wrap
            //-     .detail-title อายุการใช้งาน :
            //-     .detail-value 24 ชั่วโมง
            //-   .details-wrap
            //-     .detail-title ค่าบริการ :
            //-     .detail-value 34 บาท
            //-   .details-wrap
            //-     .detail-title รูปแบบการคิดเงิน :
            //-     .detail-value รายครั้ง
            p.ml-4.detail-notice หมายเหตุ <br/>- ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติ 24 ชม.นับจากเวลาที่สมัคร<br/> ** ความเร็วสูงสุดขึ้นกับประเภทซิมและพื้นที่ใช้งาน 4G = 100 Mbps, 3G = 42 Mbps
    //- Pack2
    .col-12.col-md-6
      .d-flex.justify-content-center.justify-content-md-start
        .card.card-wrapper
          .card-body.card-promotion
            .card-title เน็ตต่อเนื่อง + Wifi (ต่ออายุอัตโนมัติ)
            //- .rov-logo
            //-   img.img-fluid(src="images/logo-rov.png", alt="")
          .card-body.card-benefit   
            .card-benefit__mbps
              .card-benefit__num เต็มสปีด
              //- .card-benefit__unit Kbps 
            .card-benefit__gb
              .card-benefit__num 800
              .card-benefit__unit MB
            .card-benefit__hrs
              .card-benefit__num 15 
              .card-benefit__unit วัน
            .card-benefit__bht
              .card-benefit__num 1 
              .card-benefit__unit บาท
          a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/154') ซื้อเลย
          .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
          img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail9" role="button" aria-expanded="false" aria-controls="collapseDetail9")
          .collapse#collapseDetail9
            //- .card.card-body.collapseBody
            //-   .details-wrap
            //-     .detail-title ความเร็วเน็ต :
            //-     .detail-value.red 10 Mbps
            //-   .details-wrap
            //-     .detail-title หน่วยความจุ :
            //-     .detail-value.red 5 GB
            //-   .details-wrap
            //-     .detail-title อายุการใช้งาน :
            //-     .detail-value 24 ชั่วโมง
            //-   .details-wrap
            //-     .detail-title ค่าบริการ :
            //-     .detail-value 34 บาท
            //-   .details-wrap
            //-     .detail-title รูปแบบการคิดเงิน :
            //-     .detail-value รายครั้ง
            p.ml-4.detail-notice หมายเหตุ <br/>- ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติ 24 ชม.นับจากเวลาที่สมัคร <br/> ** ความเร็วสูงสุดขึ้นกับประเภทซิมและพื้นที่ใช้งาน 4G = 100 Mbps, 3G = 42 Mbps
    //- Pack3
    .col-12.col-md-6
      .d-flex.justify-content-center.justify-content-md-end
        .card.card-wrapper
          .card-body.card-promotion
            .card-title เน็ตรายครั้ง แถมไอเทมพิเศษ!
            .rov-logo
              img.img-fluid(src="images/logo-rov.png", alt="")
          .card-body.card-benefit   
            .card-benefit__mbps
              .card-benefit__num(style='font-size:1.8rem') เต็มสปีด
              //- .card-benefit__unit Mbps 
            .card-benefit__gb
              .card-benefit__num 1
              .card-benefit__unit GB
            .card-benefit__hrs
              .card-benefit__num 29 
              .card-benefit__unit วัน
            .card-benefit__bht
              .card-benefit__num 1 
              .card-benefit__unit บาท
          a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/44') ซื้อเลย
          .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
          img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail10" role="button" aria-expanded="false" aria-controls="collapseDetail10")
          .collapse#collapseDetail10
            //- .card.card-body.collapseBody
            //-   .details-wrap
            //-     .detail-title ความเร็วเน็ต :
            //-     .detail-value.red 10 Mbps
            //-   .details-wrap
            //-     .detail-title หน่วยความจุ :
            //-     .detail-value.red 5 GB
            //-   .details-wrap
            //-     .detail-title อายุการใช้งาน :
            //-     .detail-value 24 ชั่วโมง
            //-   .details-wrap
            //-     .detail-title ค่าบริการ :
            //-     .detail-value 34 บาท
            //-   .details-wrap
            //-     .detail-title รูปแบบการคิดเงิน :
            //-     .detail-value รายครั้ง
            p.ml-4.detail-notice หมายเหตุ <br/>- สำหรับเบอร์เติมเงิน ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติหลัง 24 ชั่วโมง นับจากเวลาที่สมัคร<br/> - สำหรับเบอร์รายเดือน ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น. ของวันที่สมัคร<br/> ** ความเร็วสูงสุดขึ้นกับประเภทซิมและพื้นที่ใช้งาน 4G = 100 Mbps, 3G = 42 Mbps
    //- Pack4
    .col-12.col-md-6
      .d-flex.justify-content-center.justify-content-md-start
        .card.card-wrapper
          .card-body.card-promotion
            .card-title เน็ตรายครั้ง
            //- .rov-logo
            //-   img.img-fluid(src="images/logo-rov.png", alt="")
          .card-body.card-benefit   
            .card-benefit__mbps
              .card-benefit__num(style='font-size:1.8rem') เต็มสปีด
              //- .card-benefit__unit Kbps 
            .card-benefit__gb
              .card-benefit__num 3
              .card-benefit__unit GB
            .card-benefit__hrs
              .card-benefit__num 39 
              .card-benefit__unit วัน
            .card-benefit__bht
              .card-benefit__num 1 
              .card-benefit__unit บาท
          a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/153') ซื้อเลย
          .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
          img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail11" role="button" aria-expanded="false" aria-controls="collapseDetail11")
          .collapse#collapseDetail11
            //- .card.card-body.collapseBody
            //-   .details-wrap
            //-     .detail-title ความเร็วเน็ต :
            //-     .detail-value.red 10 Mbps
            //-   .details-wrap
            //-     .detail-title หน่วยความจุ :
            //-     .detail-value.red 5 GB
            //-   .details-wrap
            //-     .detail-title อายุการใช้งาน :
            //-     .detail-value 24 ชั่วโมง
            //-   .details-wrap
            //-     .detail-title ค่าบริการ :
            //-     .detail-value 34 บาท
            //-   .details-wrap
            //-     .detail-title รูปแบบการคิดเงิน :
            //-     .detail-value รายครั้ง
            p.ml-4.detail-notice หมายเหตุ <br/>- ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติ 24 ชม.นับจากเวลาที่สมัคร<br/> ** ความเร็วสูงสุดขึ้นกับประเภทซิมและพื้นที่ใช้งาน 4G = 100 Mbps, 3G = 42 Mbps
    //- Pack5
    .col-12.col-md-6
      .d-flex.justify-content-center.justify-content-md-end
        .card.card-wrapper
          .card-body.card-promotion
            .card-title เน็ตต่อเนื่อง
            //- .rov-logo
            //-   img.img-fluid(src="images/logo-rov.png", alt="")
          .card-body.card-benefit   
            .card-benefit__mbps
              .card-benefit__num(style='font-size:1.8rem') เต็มสปีด
              //- .card-benefit__unit Mbps 
            .card-benefit__gb
              .card-benefit__num 5
              .card-benefit__unit GB
            .card-benefit__hrs
              .card-benefit__num 99 
              .card-benefit__unit วัน
            .card-benefit__bht
              .card-benefit__num 7 
              .card-benefit__unit บาท
          a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/119') ซื้อเลย
          .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
          img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail12" role="button" aria-expanded="false" aria-controls="collapseDetail12")
          .collapse#collapseDetail12
            //- .card.card-body.collapseBody
            //-   .details-wrap
            //-     .detail-title ความเร็วเน็ต :
            //-     .detail-value.red 10 Mbps
            //-   .details-wrap
            //-     .detail-title หน่วยความจุ :
            //-     .detail-value.red 5 GB
            //-   .details-wrap
            //-     .detail-title อายุการใช้งาน :
            //-     .detail-value 24 ชั่วโมง
            //-   .details-wrap
            //-     .detail-title ค่าบริการ :
            //-     .detail-value 34 บาท
            //-   .details-wrap
            //-     .detail-title รูปแบบการคิดเงิน :
            //-     .detail-value รายครั้ง    
            p.ml-4.detail-notice หมายเหตุ <br/>- ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.<br/> ** ความเร็วสูงสุดขึ้นกับประเภทซิมและพื้นที่ใช้งาน 4G = 100 Mbps, 3G = 42 Mbps
    //- Pack6
    .col-12.col-md-6
      .d-flex.justify-content-center.justify-content-md-start
        .card.card-wrapper
          .card-body.card-promotion
            .card-title เอนเตอร์เทนเมนท์ HD ดู 4 แอพไม่อั้น
            //- .rov-logo
            //-   img.img-fluid(src="images/logo-rov.png", alt="")
          .card-body.card-benefit   
            .card-benefit__mbps
              .card-benefit__num(style='font-size:1.8rem') เต็มสปีด
              //- .card-benefit__unit Mbps 
            .card-benefit__gb
              .card-benefit__num 8
              .card-benefit__unit GB
            .card-benefit__hrs
              .card-benefit__num 99 
              .card-benefit__unit วัน
            .card-benefit__bht
              .card-benefit__num 15 
              .card-benefit__unit บาท
          a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/119') ซื้อเลย
          .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
          img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail13" role="button" aria-expanded="false" aria-controls="collapseDetail13")
          .collapse#collapseDetail13
            //- .card.card-body.collapseBody
            //-   .details-wrap
            //-     .detail-title ความเร็วเน็ต :
            //-     .detail-value.red 10 Mbps
            //-   .details-wrap
            //-     .detail-title หน่วยความจุ :
            //-     .detail-value.red 5 GB
            //-   .details-wrap
            //-     .detail-title อายุการใช้งาน :
            //-     .detail-value 24 ชั่วโมง
            //-   .details-wrap
            //-     .detail-title ค่าบริการ :
            //-     .detail-value 34 บาท
            //-   .details-wrap
            //-     .detail-title รูปแบบการคิดเงิน :
            //-     .detail-value รายครั้ง
            p.ml-4.detail-notice หมายเหตุ <br/>- ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.<br/> ** ความเร็วสูงสุดขึ้นกับประเภทซิมและพื้นที่ใช้งาน 4G = 100 Mbps, 3G = 42 Mbps
    //- Pack7
    .col-12.col-md-6
      .d-flex.justify-content-center.justify-content-md-end
        .card.card-wrapper
          .card-body.card-promotion
            .card-title เน็ตรายครั้ง (6 โมงเช้า - 6 โมงเย็น)
            //- .rov-logo
            //-   img.img-fluid(src="images/logo-rov.png", alt="")
          .card-body.card-benefit   
            .card-benefit__mbps
              .card-benefit__num(style='font-size:1.8rem') เต็มสปีด
              //- .card-benefit__unit Mbps 
            .card-benefit__gb
              .card-benefit__num 16
              .card-benefit__unit GB
            .card-benefit__hrs
              .card-benefit__num 149 
              .card-benefit__unit วัน
            .card-benefit__bht
              .card-benefit__num 7 
              .card-benefit__unit บาท
          a.purchase-btn.mx-auto(href='https://topping.truemoveh.com/package/confirm/151') ซื้อเลย
          .more-detail หรือ กด <img src="images/ic-call.png" width="10"> *900*1965#
          img.mx-auto.more-detail__icon(src='images/ic-expand.png' width='24' data-toggle="collapse" href="#collapseDetail14" role="button" aria-expanded="false" aria-controls="collapseDetail14")
          .collapse#collapseDetail14
            //- .card.card-body.collapseBody
            //-   .details-wrap
            //-     .detail-title ความเร็วเน็ต :
            //-     .detail-value.red 10 Mbps
            //-   .details-wrap
            //-     .detail-title หน่วยความจุ :
            //-     .detail-value.red 5 GB
            //-   .details-wrap
            //-     .detail-title อายุการใช้งาน :
            //-     .detail-value 24 ชั่วโมง
            //-   .details-wrap
            //-     .detail-title ค่าบริการ :
            //-     .detail-value 34 บาท
            //-   .details-wrap
            //-     .detail-title รูปแบบการคิดเงิน :
            //-     .detail-value รายครั้ง 
            p.ml-4.detail-notice หมายเหตุ <br/>- ระยะเวลาการใช้งานจะสิ้นสุดโดยอัตโนมัติเวลา 23.59 น.<br/> ** ความเร็วสูงสุดขึ้นกับประเภทซิมและพื้นที่ใช้งาน 4G = 100 Mbps, 3G = 42 Mbps