extends _template
block body
  section.pt-5
    .container
      ul.nav.nav-tabs.justify-content-center.border-0(role='tablist')
        li.nav-item.col.p-0
          .nav-link.active.package-tab(id='topup-content' data-toggle="tab" href="#topup" role='tab' aria-control='topup' aria-selected='true') แพ็กเกจเติมเงิน 
        li.nav-item.col.p-0 
          .nav-link.package-tab(id='monthly-content' data-toggle="tab" href="#monthly" role='tab' aria-control='monthly' aria-selected='false') แพ็กเกจรายเดือน  
      .tab-content
        .tab-pane.fade.show.active(id='topup' role='rabpanel' aria-labelledby='topup-content')
          include _promotion
        .tab-pane.fade.show(id='monthly' role='rabpanel' aria-labelledby='monthly-content')
          include _promotion
  section
    .container
      .filter
        .filter__title เลือกการแสดงผล
        .filter__item แพคเกจ 1 วัน     
        .filter__item แพ็กเกจ 7 วัน    
        .filter__item แพ็กเกจ 30 วัน    
        .filter__item โปรเด็ดในชั่วโมงเร่งด่วน    
        .filter__item โปรใสๆใช้สบายตลอดวัน
  footer.footer
    p.text-center ©True Corporation Public Company Limited All rights reserved.          