@import '../node_modules/bootstrap/dist/css/bootstrap.min';

:root {
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, //Safari Mac/iOS, Chrome
  'Segoe UI', Roboto, Oxygen, //Window, Android, KDE
  Ubuntu, Cantarell, 'Fira Sans', //Ubuntu, Gnome, Firefox OS
  'Open Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; //Old
  font-size: 16px;
  margin: 0; 
  height: 100%;
}

@font-face {
  font-family: 'TrueTextA';
  src: url('../font/TrueTextA.woff2') format('woff2'), url('TrueTextA.woff') format('woff'), url('TrueTextA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'True';
  src: url('../font/TrueBold.woff2') format('woff2'), url('TrueBold.woff') format('woff'), url('TrueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'True';
  src: url('../font/TrueLight.woff2') format('woff2'), url('TrueLight.woff') format('woff'), url('TrueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'True';
  src: url('../font/TrueMedium.woff2') format('woff2'), url('TrueMedium.woff') format('woff'), url('TrueMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.header{
  &__title{
      padding: 1rem 0;
      font-family: True;
      font-size: 1.5rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #666666;
      text-align: center;
  }
}

.package-tab {
  font-family: 'True';
  font-size: 1.875rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color:#121212;
  border-radius: 8px !important;
  &.active{
    background-color: #121212 !important;
    color: #ffffff !important;
  }
  @media(max-width: 400px){
    font-size: 1.4rem;
  }
}

.tab-pane{
  margin-top: 2rem;
}

.card-wrapper{
    background-image: linear-gradient(to top, #f5f5f5, #ffffff);
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}
.card-promotion{
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .card-title{
    font-family: True;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
  }
  .rov-logo{
    align-self: flex-start;
    display: flex;
    width: 48px;
    height: auto;
    object-fit: contain;
    margin-left: 0.5rem;
  }
}
.card-benefit{
  display: flex;
  padding-top: 0;
  justify-content: center;
  &__mbps{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e6e6e6;
    padding: 0.4rem 1rem;
    width: 100px;
    justify-content: center;
    align-items: center;
    color:#e32526;
  }
  &__gb{
    @extend .card-benefit__mbps;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    color:#333;
  }
  &__hrs{
    @extend .card-benefit__mbps;
    border-right: 1px solid #e6e6e6;
    color:#333;
  }
  &__bht{
    @extend .card-benefit__mbps;
    color:#333;
  }
  &__num{
    font-size: 3rem;
    font-family: True;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
  }
  &__unit{
    font-size: 1.125rem;
    font-family: True;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
  }
}

.purchase-btn{
  padding: 1rem 0;
  width: 400px;
  border-radius: 8px;
  background-color: #e32526;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  font-family: True;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.68;
  letter-spacing: normal;
  display: inline-block;
  color: #ffffff;
  @media(max-width: 992px){
    width: 250px;
  }
  &:hover{
    color: #ffffff;
  }
  }

  .more-detail{
    padding-top: 4px;
    text-align: center;
    font-family: True;
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
    &__icon{
      margin-top: 0.5rem;
      transform: rotate(180deg);
      transition: 200ms;
      cursor: pointer;
      &.expand{
        transform: rotate(0deg);
      }
    }
  }
  .collapseBody{
    background-color: transparent;
    margin: 0 1rem;
  }

  .details-wrap{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #e6e6e6;
    .detail-title{
      font-family: True;
      font-size: 1.125rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #666666;
    }
    .detail-value{
      font-family: True;
      font-size: 1.125rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #333333;
      &.red{
        color:#e32526;
      }
    }
  }
  .detail-notice{
    padding-top: 1rem;
    font-family: True;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
  }
  .filter{
    margin-bottom: 3rem;
    &__title{
      font-family: True;
      font-size: 1rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #dddddd;
    }
    &__item{
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #bababa;
      display: inline-block;
      padding: 0.5rem 1rem; 
      margin-top: 1rem;
      margin-left: 5px;
      margin-right: 5px;
      font-family: True;
      font-size: 1.125rem;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #bababa;
      cursor: pointer;
      &.active{
        border: solid 1px #e32526;
        color:#e32526;
      }

    }
  }

  .promotion{
    &__title,
    &__paragraph {
      font-family: True;
      font-size: 1.125rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.75;
      letter-spacing: normal;
      color: #bababa;
    }
  }

  .footer{
    margin: 2.5rem auto;
    font-family: HelveticaNeue;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #bababa;
  }