@import '../node_modules/bootstrap/dist/css/bootstrap.min';

:root {
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, //Safari Mac/iOS, Chrome
  'Segoe UI', Roboto, Oxygen, //Window, Android, KDE
  Ubuntu, Cantarell, 'Fira Sans', //Ubuntu, Gnome, Firefox OS
  'Open Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; //Old
  font-size: 16px;
  margin: 0; 
  height: 100%;
}